/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
*/

/*
 * This file is a mess. We could really need replacing it entirely.
 */

.hidden
{
    visibility: hidden;
}

.ex-dbg-msg
{
    color: black;
}

/* for test main.HTML */
#explorer-plt
{
  /* Hight determined by plot.js ('divideSizes') */
    position: absolute;
    border: none;
    padding: 0px;
    z-index: 9998;
    top: 202px;
}

#explorer-plt-rolls
{
  position: absolute;
  border: none;
  padding: 0px;
  z-index: 9998;
  /*top: 550px; /* below resource plot */
  top: 202px; /* next to resource plot */
  left: 315px;
}

#explorer-tbl
{
    position: absolute;
    background-color: #ccc;
    z-index: 9996;
    top: 0;
    left: 0;
    border: solid 3px #555;
    font-family: sans-serif;
    white-space: pre;
    padding: 0;
    border-spacing: 0;
}

#explorer-rob-tbl
{
    position: absolute;
    background-color: #ccc;
    z-index: 9999;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    /*! padding: 3px; */
    border: solid 3px #555;
    white-space: pre;
    font-family: monospace;
    padding: 0;
    border-spacing: 0;
}

.explorer-tbl-header {
    border: none;
    text-align: left;
}

.explorer-tbl-header,.explorer-tbl-cell,.explorer-tbl-total-cell
{
    padding: 4px 4px 2px; /* default override cell padding */
    border: none;
}

.explorer-tbl-row {
    /*border: solid 1px #555;*/
    height: 1.5em;
    text-align: left;
    vertical-align: center;
}



.explorer-tbl-row:nth-child(2n-1) { background-color: #eeeeee; }
.explorer-tbl-row:nth-child(2n) { background-color: #f9f9f9; }
.explorer-tbl-total-row
{
    /* background inherit from explorer-tbl */
}

.explorer-tbl-cell,.explorer-tbl-total-cell
{
    border: none;
    box-sizing: unset;
    color: black;
    font-weight: bold;
    font-family: monospace;
    padding: 0px 4px;
    text-align: center;
    line-height: 1.2em;
}

.explorer-tbl-total-cell
{
    background-color: #ccc;
}

.explorer-tbl-player-col-cell,.explorer-rob-tbl-player-col-cell
{
    border: none;
    /*! display: inline-flex; */
    padding: 0;
    line-height: 1.5em;
}

.explorer-rob-tbl-player-col-cell
{
    text-align: right !important;
}

.explorer-tbl-player-col-cell-color {
    /*width: 8px;*/
    display: inline-block;
    font-family: monospace;
}

.explorer-tbl-player-name {
    font-weight: bold;
    margin: 0px 8px 0 4px;
    white-space: pre;
    font-family: monospace;
}

.explorer-tbl-unknown-stats
{
    font-weight: lighter;
    color: black;
}

.explorer-tbl-player-col-header {
    font-weight: bold;
    /* text-transform: uppercase; */
    border: none;
    padding-left: 8px; /* width of cell-color + margin-left of player-name */
    font-size: 85%;
}

.explorer-tbl-resource-icon {
    width: 36;
    height: 36px;
}

/* Percentages added to numbers in the table */
.table-percent
{
    font-size: 80%;
    font-family: monospace;
    font-weight: lighter;
}

.table-number
{
    font-size: 110%;
    font-family: monospace;
    font-weight: bold;
}

.table-tick
{
    white-space: initial;
}

.table-number-chance
{
    font-style: italic;
    vertical-align: super;
    font-size: 70%;
}

/* vim: shiftwidth=4:softtabstop=4:expandtab
 */
