/*
 * ╭───────────────────────────────────────────────────────────╮
 * │ Sidebar general                                           │
 * ╰───────────────────────────────────────────────────────────╯
 */

.cocaco {

  white-space-collapse: discard;

&html {
  background: #ccc;
}

&#cocaco-sidebar {
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

&.playerName {
  font-weight: bold;
  color: red;
  font-size: large;
  text-shadow: -1px 1px black,-1px 1px 2px white;
  margin-left: 3px;
}

/*
 * ╭───────────────────────────────────────────────────────────╮
 * │ Buttons                                                   │
 * ╰───────────────────────────────────────────────────────────╯
 */

&.buttons {
  background: #0008;
}

/*
 * ╭───────────────────────────────────────────────────────────╮
 * │ Rolls plot                                                │
 * ╰───────────────────────────────────────────────────────────╯
 */

/*
 * ╭───────────────────────────────────────────────────────────╮
 * │ Resources panel                                           │
 * ╰───────────────────────────────────────────────────────────╯
 */

&.resourcesPanel {
  display:flex;
}

&.resourcesPanel:hover .hide-on-hover {
  display: none;
}

&.resourcesPanel:not(:hover) .show-on-hover {
  display: none;
}

&.resources {
  background: #fff8;
}

&.resourceStealChance {
  background: #8888;
}

&.resourceWorlds {
  background: #fff8;
  max-height: 100vh;
  overflow: auto;
}

&.resourceWorlds {
  bottom: 0px;
  left: 0px;
}

&.resourceWorlds > .resourceCards {
  outline-offset: -1.4mm;
  outline: 1.5mm solid blue;
}

&.resourceCards {
  box-sizing: border-box;
  display: flex;
  height: 1.5cm;
  max-width: 100%;
  overflow: clip;
  width: fit-content;
}

&.resourceCards * {
    border-radius: 5%;
}

/* <img> */
&.card * {
  height: 100%;
  pointer-events: none;
}

&img:hover {
  filter: grayscale(0); /* Otherwise z-index does nothing */
  outline: blue dotted 5px;
  z-index: 9991;
}

&.card {
  height: 100%;
  outline-offset: -1.4mm;
  outline: 1.5mm solid blue;
  width: max-content;
}

&.cardFirst {
  /* outline: 3px dashed white; */
  /* outline-offset: -3px; */
}

&.cardNotFirst {
  color: green;
  margin-left: -0.75cm;
}

&.cardUnused {
  display: none;
}

}
