[submodule "statistics.js"]
	path = dependencies/statistics.js
	url = https://github.com/thisancog/statistics.js.git
[submodule "dotfiles-copy"]
	path = dotfiles-copy
	url = https://github.com/Lolligerhans/dotfiles.git
